/* HOME */
.navBar {
  background-color: black;
  height: 5rem;
  width: 100vw;
  color: white;
  font-size: 1.25rem;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
}

.homeLink {
  text-decoration: none;
  color: white;
}

.moviesLink {
  text-decoration: none;
  color: white;
}

.bodyHome {
  background-image: url("https://images.unsplash.com/photo-1507924538820-ede94a04019d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  height: 100vh;
  width: 1440px;
  display: flex;
  justify-content: center;
  color: whitesmoke;
}

.movieBtn {
  opacity: 0.5;
  background: none;
  color: whitesmoke;
  font-size: 2rem;
  border: 0.5rem solid white;
  border-radius: 2rem;
  margin-top: 2rem;
}

/* MOVIE LIST */
.table {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  background-color: white;
}

.movieList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  background-color: white;
}

.title {
  text-decoration: white;
  color: black;
}

.newMovie {
  background-color: darkgrey;
  height: 3rem;
  width: 7rem;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  text-decoration: none;
}

.newBtn {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  text-decoration-line: none;
}

.displayMovies {
  background-color: white;
  height: 100vh;
}

/* NEW MOVIE */
.form {
  height: 100vh;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formIn {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

input {
  margin-left: 1rem;
  border-radius: 0.25rem;
}

.addMovieBtn {
  background-color: darkgrey;
  color: white;
  margin-top: 1rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

button:hover {
  cursor: pointer;
}

.moviePoster {
  height: 20vh;
  width: auto;
  padding-bottom: 0.5rem;
}

.deleteBtn {
  background-color: red;
  color: white;
  margin-top: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.editBtn {
  background-color: black;
  color: white;
  margin-top: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.Btns {
  display: flex;
  flex-direction: column;
}

/* SINLGE MOVIE PAGE */

.movieSelected {
  display: flex;
  justify-content: center;
}

.moviePosterSingle {
  height: 40vh;
  width: auto;
  padding-bottom: 0.5rem;
}

/* EDIT PAGE */

.editPoster {
  height: 40vh;
  width: auto;
  padding-bottom: 0.5rem;
}